Package: com.abkhur.babysfirsttweak
Name: babysfirsttweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: abkhur
Author: abkhur
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
